<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <style>
        .conversation {
            list-style-type: none;
            padding: 0;
        }
        .conversation li {
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 7px;
        }
        .chat-time {
            font-size: 0.8em;
            color: #777;
        }
    </style>
</head>
<body>

<div id="msgArea">
    <ul class="conversation" th:each="message : ${messages}">
        <li>
            <div>
                <strong th:text="${message.memberName}"></strong>
                <span class="chat-time" th:text="${#temporals.format(message.sendTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </div>
            <p th:text="${message.content}"></p>
        </li>
    </ul>
</div>
<div class="input-group mb-3">
    <input type="text" id="msg" />
    <div>
        <button type="button" id="button-send">전송</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:inline="javascript">
    window.onload = function () {
        const chatRoomId = [[${chatRoomId}]];
        const memberId = [[${member.id}]];
        const memberName = [[${member.name}]];

        const sockJs = new SockJS('/stomp/chat');

        //1. SockJS를 이용하여 stomp를 반환한다.
        const stomp = Stomp.over(sockJs);

        //2. connection이 맺어지면 실행된다.
        stomp.connect({}, function () {
            console.log('STOMP 연결');

            //4. subscribe(path, callback)으로 메세지를 받을 수 있다
            stomp.subscribe("/sub/chat/room/" + chatRoomId, function (chat) {
                console.log('chat : {}', chat)
                const dto = JSON.parse(chat.body);
                console.log('dto : {}', dto)

                const writer = dto.memberName;
                const message = dto.content;
                let str = '';

                if (dto.memberId === memberId) {
                    str = "<div>";
                    str += "    <div>";
                    str += "        <b>" + writer + " : " + message + "</b>";
                    str += "    </div>";
                    str += "</div>";

                    document.getElementById('msgArea').append(str);
                } else {
                    str = "<div>";
                    str += "    <div>";
                    str += "        <b>" + writer + " : " + message + "</b>";
                    str += "    </div>";
                    str += "</div>";
                    document.getElementById('msgArea').append(str);
                }

                document.getElementById('msgArea').append(str);

                console.info('str : {}', str)
            });

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/chat/enter', {}, JSON.stringify({chatRoomId: chatRoomId, memberName: memberName}));
        });

        document.getElementById('button-send').addEventListener('click', function() {
            const msg = document.getElementById('msg');

            console.log(memberName + ':' + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({chatRoomId: chatRoomId, content: msg.value, memberName: memberName, memberId: memberId}));
            msg.value = '';
        });

    };

</script>

</body>
</html>