<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/stomp.js"></script>
</head>
<body>
<input type="hidden" id="chatRoomId" th:value="${chatRoomId}">
<input type="hidden" id="memberId" th:value="${member.id}">
<input type="hidden" id="memberName" th:value="${member.name}">

<div id="connect-form" class="col-md-6">
    <form class="form-inline">
        <div class="form-group">
            <label for="connect">채팅방 연결:</label>
            <button id="connect" class="btn btn-default" type="submit">채팅방 연결</button>
            <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">채팅방 연결 해제</button>
        </div>
    </form>
</div>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr><th>메세지 내용</th></tr>
                </thead>
                <tbody id="messages"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="content-form" class="col-md-6">
    <form class="form-inline">
        <div class="form-group">
            <label for="content">내용입력</label>
            <input type="text" id="content" class="form-control">
        </div>
        <button id="send" class="btn btn-default" type="submit">Send</button>
    </form>
</div>
</body>
</html>